:root {
    --orxe-checkbox-bg-color : #000000;
    --orxe-focus-border-color:#2E22A4;
    --orxe-checkbox-border:1px solid #ffffff;
    --orxe-checkbox-tickmark:2px solid #ffffff;
    --orxe-checkbox-label-size: 1rem ;
    --orxe-checkbox-label-weight: 500 ;
    --orxe-checkbox-border-radius : 1px;
    --orxe-checkbox-height : 1rem;
    --orxe-checkbox-width :1rem ;
    --orxe-checkbox-margin : 5px;
    --orxe-checkbox-padding : 5px;


}
$checkbox-bg-color : var(--orxe-checkbox-bg-color);
$checkbox-border : var(--orxe-checkbox-border);
$checkbox-focus-color : var(--orxe-focus-border-color);
$checkbox-tickmark : var(--orxe-checkbox-tickmark);
$checkbox-label-size : var(--orxe-checkbox-label-size);
$checkbox-label-weight : var(--orxe-checkbox-label-weight);
$checkbox-border-radius : var(--orxe-checkbox-border-radius);
$checkbox-height : var(--orxe-checkbox-height);
$checkbox-width : var(--orxe-checkbox-width);
$checkbox-margin : var(--orxe-checkbox-margin);  
$checkbox-padding : var(--orxe-checkbox-padding); 