@import "./base.scss";
.bx--checkbox:checked+.bx--checkbox-label::before{
    background-color: $checkbox-bg-color;
    border: $checkbox-border
}

.bx--checkbox:focus+.bx--checkbox-label::before{
    border-color: $checkbox-focus-color !important;
}

.bx--checkbox-label[data-contained-checkbox-state='mixed'] {
    &:before{
        background-color: $checkbox-bg-color !important;
    }
    &:after{
        border-bottom:$checkbox-tickmark ;
    }
}

.bx--checkbox-label{
    font-size: $checkbox-label-size;
    font-weight:$checkbox-label-weight;
    &:before{
        border-radius: $checkbox-border-radius;
        height: $checkbox-height ;
        width: $checkbox-width ;
    }
    &:after{
        border-left: $checkbox-tickmark ;
        border-bottom: $checkbox-tickmark ;
    }
}

.checkbox-container{
    margin: $checkbox-margin;
    padding: $checkbox-padding;;
}




